@import "reset";
@import "variables";
@import "header";

body {
    z-index: 2;
}

.bg-img{
    position: fixed;
    left: 0;
    right: 0;
    z-index: -1;
    background-image: url(../img/BGcompass.jpg);
    -webkit-background-size: 100%;
    background-size: 100%;
    height:100%;
    filter: blur(4px);
}

.mainContent{
    display: flex;
    justify-content: center;
    align-items: center;
}

.aboutContainer{
    margin-top:4rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    h2{
        margin-bottom: 1.5rem;
        font-size: 2.8rem;
        display: flex;
        justify-content: center;
        color:white;
    }
    img{
        width:8rem;
        border: solid black 1px;
        border-radius: 35px;
    }
    .box{
        width:190px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.profiles{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width:700px;
    margin-bottom:5rem;
    padding:3.5rem 2rem 0 2rem;
    border-radius: 1px;
    background-color: rgba(0, 0, 0, 0.514);
    p{
        margin-top:.6rem;
        margin-bottom: 3rem;
        font-size: 1.5rem;
        color:white;
    }
}

@media #{$mobile} {
    .profiles {
        width:75%;
        padding-top:2rem;
        .box{
            width:40%;
        }
    }
}