@import "reset";
@import "variables";
@import "header";

body {
    z-index: 2;
}

.bg-img{
    position: fixed;
    left: 0;
    right: 0;
    z-index: -1;
    background-image: url(../img/BGcompass.jpg);
    -webkit-background-size: 100%;
    background-size: 100%;
    height:100%;
    filter: blur(4px);
}

body {
    background: url();
    background-repeat: no-repeat;
    background-size: cover;
    width:100%;
    height: 100vh;
}

.mainContent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: black;
    margin: 4rem 60px 0 60px;
    padding: 40px 40px 40px 40px;
    font-size: 1.2rem;
    background-color: rgba(85, 80, 80, 0.76);
    border-radius: .2rem;
   // border: solid black 1px;
}

.info-box-top {
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-around;
    text-align: center;
    margin-bottom:5px;
    img{
        width:40vw;
        height:100%;
        //border-radius: .6rem;
        margin-left:30px;
        border:solid black 1px;
    }
    p{
        margin:20px 20px 0 0;
    }
}

.info-box-bottom {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    justify-content: space-between;
    img{
        width:40vw;
        border:solid black 1px;
      //  border-radius: .6rem;
    }
    p{
        margin:20px 0px 0 0px;
    }
    .button{
        color:rgb(255, 255, 255);
        background: #3878b3;
        border-radius: .4rem;
        padding:.6rem;
        border: none;
        font-size: 1rem;
        width: 160px;
        margin-bottom:40px;
        text-decoration: none;
       }
}


.call-ta {
    display: flex;
    text-align: center;
    div{
        width:50%;
        margin:0 1rem 0 1rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
}

@media #{$mobile} {
    .mainContent {
        .info-box-top{
            display: flex;
            flex-direction: column;
                p{
                    margin:0 0 1rem 0;
                }
                img{
                    margin:0;
                }
        }
    }
        .info-box-bottom {
            display: flex;
            flex-direction: column;
            align-items: center;
                .call-ta{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    p{
                        margin:1rem 0 1rem 0;
                    }
                }
        }
}