@mixin btn-style{
    color:rgb(255, 255, 255);
    background: #3878b3;
    border-radius: .4rem;
    padding:.6rem;
    border: none;
    font-size: 1rem;
    width: 160px;
    margin-bottom:40px;
    text-decoration: none;
   }